.container-about {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;

}

.about-col-left, .about-col-right {
  padding: 30px;
}

.container-about-row {
  max-width: 860px;
  margin: 0 auto;
}

.skills-on-side {
  padding: 70px;
  background: $pink;
}

@media(max-width: 768px) {
  .about-col-left, .about-col-right {
    padding: 0px;
  }
}