.container-about {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
  margin-top: -150px;

}

.about-col-left, .about-col-right {
  padding: 30px;
}

.container-about-row {
  max-width: 860px;
  margin: 0 auto;
}

.skills-on-side {
  padding: 70px;
  background: $pink;
}


@media(max-width: 768px) {
  .about-col-left, .about-col-right {
    padding: 0px;
  }
}


// INTERESTS

.container-interests {
  margin-bottom: 70px;
}

.container-interests p {
  background-color: $dark-grey;
  padding: 40px 50px;
}