.container-experience {
  max-width: 860px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
}

.experience-col {
  padding: 30px;
}

.experience-details {
  color: $light-grey;
}