.container-experience {
  max-width: 860px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
}

.experience-col {
  padding-top: 30px;
  padding-bottom: 30px;
}

.experience-details {
  color: $light-grey;
}

@media(min-width: 769px) {
  .experience-col {
    padding: 30px;
  }
}