header {
  background: $dark-grey;
  height: 80vh;

  .header-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .row {
      display: flex;
      align-items: center;
    }
  }
  
  h1 {
    font-family: 'Volkhov', sans-serif;
    font-size: 58px;
  }

  h2 {
    font-weight: 300;
    font-size: 17px;
    line-height: 1.4;
  }
  
}

.image-container {

  position: relative;

  .image-of-me {
    width: 320px;
    height: 320px;
    z-index: 1;
    position: relative;
  }
  
  .border-image {
    height: 320px;
    width: 320px;
    border: 5px solid #f8f9fa;
    position: absolute;
    left: 30px;
    top: 18px;
  }
}

@media (max-width: 768px) {

  header .header-container {
    padding-top: 110px;
    padding-bottom: 70px;
  }

  .image-container {
    margin-top: 50px;
  }

  header {
    min-height: 95vh;
  
    h1 {
      font-size: 34px;
      height: 41px;
    }

    h2 {
      font-size: 17px;
    }
  }

  .image-container .image-of-me, .image-container .border-image {
    width: 270px;
    height: 270px;
  }
}

@media (min-width: 769px) {
  header h1 {
    height: 72px;
  }
}