nav {
  position: fixed;
  width: 100%;
  background-color: $dark-grey;
  z-index: 10;
}

.navigation {
  @extend %flex-between;
  padding: 24px 0;
}

.nav-links {
  @extend %flex-end;
}

.nav-links a {
  padding: 5px 0;
  border-bottom: 2px solid $dark-grey;

  &:hover {
    border-color: $pink;
  }

}

.name-nav {
  font-size: 20px;
  font-weight: 600;
  word-break: break-all;
}


.nav-mobile {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 14px;
  span {
    display: block;
    border-radius: 10px;
    width: 30px;
    height: 3px;
    background: $white;
    &:not(:nth-last-of-type(1)){
      margin-bottom: 4px;
    }
  }
}

.modal-content {
  background-color: $dark-grey;
}

.modal-header {
  border: none;
}

.modal-body a {
  display: block;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 20px;
  margin-bottom: 11px;
  text-align: center;
}

.btn-close {
  filter: brightness(0) invert(1);
  opacity: 1;
}

@media (min-width: 769px) {
  .nav-mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .name-nav {
    font-size: 18px;
  }
}