.container-projects {
  @extend %flex-between;

  .project-image {
    width: 100%;
  }

  .container-project-image {
    position: relative;
  }

  .project-skills {
    color: $light-grey;
    font-size: 12px;
  }

  .container-project-details {
    margin-bottom: 30px;
  }

}

#Projects {
  padding-top: 30px;
}


.nav-tabs {
  display: flex;
  justify-content: center;
  border: none;
  background: none;
  font-weight: 500;

  button {
    padding: 10px 20px;
  }

  li:first-child button {
    padding-left: 0px;
  }

  li:last-child button {
    padding-right: 0px;
  }

  .nav-link {
    color: $white;
    text-transform: uppercase;
  }

  .nav-link.active, .nav-link:hover, .nav-link:focus {
    border-color: $middle-grey;
    background: none;
    color: $pink;
  }

  .nav-item:focus-visible {
    outline: none;
  }
}
