.container-skills {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    margin: 20px 0 50px;
  }

  .container-icons {
    background: $dark-grey;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4px;
    border: 1px solid #434343;

    i {
      font-size: 22px;
    }

    p {
      margin-bottom: 0px;
      font-size: 12px;
      padding-top: 2px;
    }

  }
}


.skills-col {
  padding-top: 30px;
  padding-bottom: 30px;
}

.container-soft-skills {
  text-align: center;
}

@media(max-width: 768px) {
  .container-skills .container-icons {
    max-width: calc(100% / 4);
  }
}