#contact {
  background: $dark-grey;
  text-align: center;
  padding: 90px 0px 80px;
  margin-top: 100px;
  font-size: 14px;

  h5 {
    margin-bottom: 40px;
  }

  p {
    margin-bottom: 5px;
  }
  
  svg {
    margin-right: 3px;
  }

}