nav {
  position: fixed;
  width: 100%;
  background-color: $dark-grey;
  z-index: 10;
}

.navigation {
  @extend %flex-between;
  padding: 24px 0;
}

.nav-links {
  @extend %flex-end;
}

.nav-links a {
  padding: 5px 0;

  &:hover, &.active {
    border-bottom: 2px solid $pink;
    padding-bottom: 4px;
  }

}

.name-nav {
  font-size: 20px;
  font-weight: 600;
}