.container-skills {

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    margin: 20px 0 50px;
  }

  .container-icons {
    background: $dark-grey;
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4px;
    border: 1px solid #434343;

    i {
      font-size: 22px;
    }

    p {
      margin-bottom: 0px;
      font-size: 13px;
      padding-top: 2px;
    }

  }

}
